:root {
    --text-color: #333;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-12-4{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
.grid__column-12-3{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-12-6{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}