/* Header */
.header{
    width: 100%;
    height: 90px;
    background-color: white;
}
.header__conten{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:relative;
}
.header__logo{
    padding: 20px 20px;
}
.header__logo-link{
    height: 40px;
    display: block;
    text-decoration: none;
}
.header__logo-img{
    height: 50px;
}

.header__menu{
    position: relative;
    height: 90px;
}
.header__menu-list{
    list-style: none;
    display: flex;  
    align-items: center; 
    height: 90px;
    margin: 0;
}
.header__menu-list li {
    padding: 10px 15px;
}
.header__menu-list li  a{
    text-decoration: none;
    color: #373f41;
    font-weight: 450;
    font-size: 1.4rem;
}

/*  */
.header__right {
    display: flex;
    height: 90px;
    align-items: center;
}
.header__select.header__btn{
    background-color: #3c64b1;
    color: white;
}
.header__btn{
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    color: #3c64b1;
    font-weight: 450;
    font-size: 1.4rem;
    cursor: pointer;
}
/* Banner */
.bannres{
    height: 540px;
    position: relative;
}

.banner__bgr{
    position: relative;
    padding-top: 35%;
    width: 100%;
    background-repeat: no-repeat;
    background: url('/assets/img/slide3.jpg') top center / cover no-repeat;
    text-align: center;

}
.banner__container{
    width: 700px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.text-header {
    font-size: 4rem;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 35px;
} 
.text-description { 
    color: #737b7d;
    font-size: 1.6rem; 
    line-height: 2rem;
    margin-bottom: 20px;
}
.banner__btn{
    display: flex;
    justify-content: center;
}
.banner__btn-click{
    margin: 0 10px;
} 
.banner__btn-click a{
    display: block;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 450;
    color: #3c64b1;
    text-decoration: none;
    background-color: white;
    border: 1px solid #3c64b1;
    
    padding: 10px 20px;
}
.banner__btn-click a:hover{ 
    background-color: #3c64b1;
    color: white;
}
/* Conten */
.conten{

}
.conten__title {
    text-align: center;
}
.conten__header {
    margin: 36px 0;
}
.conten__header-txt {
    font-size: 3.6rem;
    color: #373f41;
}
.conten__description {
    margin-bottom: 36px;

}
.conten__description-txt {
    font-size: 1.6rem;
    color:#737b7d ;

}

.support {
    text-align: center;
}
.support__icon {
    width: 32px; 
    margin: 0 auto;
    fill: #3c64b1;
}
.support__heading {
    margin-top: 10px;
}
.support__heading-text {
    font-size: 1.8rem;
    font-weight: 450;
    color: #373f41;
}
.support__conten {
    margin: 0 5px;
}
.support__conten-text {
    font-size: 1.4rem;
    color: #737b7d;
    line-height: 1.8rem;
}
.support__click {
    margin: 28px 0 32px;
}
.support__click-link {
    text-decoration: none;
    color: #3c64b1;
    font-size: 1.4rem;
    font-weight: 450;
}

/* Blog */
.blog__up{
    margin: 60px 0;
}
.conten__blog{ 
    position: relative;
}
.class1{
    
    display: flex;
    flex-wrap: wrap;
}
.blog__img-left { 
    width: 100%; 
    margin-right: 16px;
}
.blog__img-right { 
    width: 100%; 
    margin-left: 16px;
}
.blog__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
}
.blog__header {
    font-size: 3.2rem;
    line-height: 4.2rem;
    color: #373f41;
    margin: 0 0 34px 0;
}
.blog__conten {
    font-size: 1.6rem;
    color: #737b7d;
    line-height: 2.2rem;
}
.blog__search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
}
.box__search {
    flex: 1;
}
.box__search-input{
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 20px;
    font-size: 1.4rem;
    margin-right: 20px;
    background-color: #f4f5f4;
}
.box__search-btn {
    background-color: #3c64b1;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 20px; 
    margin-left: 20px;
    cursor: pointer;

}
.blog__dow{
    margin: 60px 0;
}
.abc{

    position: relative;
}
.blog__left{
    margin-right: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.blog__left-header {
    
    font-size: 3.2rem;
    line-height: 4.2rem;
    color: #373f41;
    margin: 0 0 34px 0;
}
.blog__left-list {
    display: flex;
}
.blog__left-conten {

}
.blog__left-icon {
   width: 24px;
   height: 24px;
   fill:#3c64b1;
   margin-bottom: 12px;
}
.blog__left-text {
    font-size: 1.6rem;
    color: #737b7d;
    line-height: 2.2rem;

}
/* end */
.end {
    margin: 0 10px;
}
.end__img {
    padding-top: 100%;
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.end__title {
    text-align: center;
    font-size: 1.6rem;
    color: #373f41;
}
.end__text { 
    display: block; 
    text-align: center; 
    font-size: 1.4rem;
    color: #5d6668;
}
